
body {
    font-family:Sans;
    font-color:#333333;
}

#controls {
    margin:3px;
    padding:3px;
    /* border:1px solid #000000; */
}

#control_right {
    margin:3px;
    padding:3px;
}

.control_bar {
    border:1px solid #cccccc;
    margin:2px; 
}

#redcontrol .control_bar { background-color:#ff0000; }
#greencontrol .control_bar { background-color:#00ff00; }
#bluecontrol .control_bar { background-color:#0000ff; }




